@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>Write the quiz code</h2>
    <form>
        <input type="text" id="QuizCode" name="Quiz code"><br>
        <input type="submit" value="Submit" asp-page="/Namepage"><br>
    </form>

    <a asp-page="/MultipleChoice">Multiple Choice </a><br>
    <a asp-page="/Resultpage">Result</a>
</div>
