@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p id ="topText">Type the quiz code</p>
    <h2>Write the quiz code</h2>
    <form>
        <input type="text" id="QuizCode" name="Quiz code"><br>
        <input type="submit" value="Submit" id="Submit"><br>
    </form>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
