@page
@model WebsiteMiniProjekt2.Pages.NamepageModel
@{
}
    <html>
    <style >
    .TextPlacement {
        position: absolute;
        top: 30%;
        left: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    </style>
    <body>
    <div class="TextPlacement" style="text-align:center";>

            <h2>Write your name</h2>
            <form>
                <input type="text" id="Name" name="WriteName"><br>
            <input type="submit" value="Submit" asp-page="/Waitingpage"> <br>
            </form>


        </div>

    </body>
    </html>

