@page
@model WebsiteMiniProjekt2.Pages.ResultpageModel
@{
}
<style>
	.ImagePlacement1{
		position: absolute;
		top: 20%;
		left: 20%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	.ImagePlacement2{
		position: absolute;
		top: 20%;
		left: 80%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	.TextPlacement{
		position:absolute;
		top: 30%;
		left: 50%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
	}

</style>
<div class="TextPlacement" style= "text-align: center;">
	<h1>You placed</h1><br>
	<h1>N</h1>
</div>
<div class="ImagePlacement2">
	<img src="/Pictures/Dansemyre2.png" alt="Dansemyre2" width="305" height="346">
</div>
<div class="ImagePlacement1">
<img src="/Pictures/Dansemyre1.png" alt="Dansemyre1" width="305" height="346">
</div>
