@page
@model WebsiteMiniProjekt2.Pages.WaitingpageModel
@{

}

<div class="text-center">
    <h1 id ="topText">Waiting... </h1>
    <button id="ActAsReceivedNextQuestion">A</button>

</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/urlreader.js" asp-append-version="true"></script>

<script>
    "use strict";
    var code = ParseQueryString()[0].value;
    var name = ParseQueryString()[1].value;

    var connection = new signalR.HubConnectionBuilder().withUrl("/webHub").build();

    connection.start().then(function () {
        document.getElementById("topText").innerHTML = "connection started page";
        connection.invoke("PrintString", "connection waitingPage started").catch(function (err) {
            return console.error(err.toString());
        });
        event.preventDefault();
    });

    connection.on("goToPage", function (nameOfPage) {
    connection.invoke("PrintString", "page to go to is: " + nameOfPage).catch(function (err) {
        return console.error(err.toString());
    });
    event.preventDefault();
    window.location.replace("/" + nameOfPage + "?Code=" + code + "&Name=" + name);
    });

    document.getElementById("ActAsReceivedNextQuestion").addEventListener("click", function (event) {
        //printing that button was clicked
        connection.invoke("PrintString", "button on waiting page clicked Clicked and code is: " + code + "changing to multiplechoice").catch(function (err) {
            return console.error(err.toString());
        });
        event.preventDefault();

        //sending everyone to next question (this should really only happen from the powerpoint)
        connection.invoke("nextQuestion").catch(function (err) {
            return console.error(err.toString());
        });
        event.preventDefault();



        window.location.replace("/MultipleChoice?Code=" + code + "&Name=" + name);
    });


    connection.on("nextQuestion", function () {
        //going to waiting page when receinving that it should
        connection.invoke("PrintString", "NextQuestion called in waitingPage").catch(function (err) {
            return console.error(err.toString());
        });
        event.preventDefault();
        connection.invoke("PrintString", "waiting page redirected to MultipleChoice. Name is " + name + " and the code is " + code).catch(function (err) {
            return console.error(err.toString());
        });
        event.preventDefault();
        window.location.replace("/MultipleChoice/?Code=" + code + "&Name=" + name);
    });
    
</script>