@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    
    <h2>Write your name</h2>
    <form>
        <input type= "text" id="Name" name="WriteName"><br>
        <input type = "submit" value="Submit"> <br>
    </form>


</div>
